{
    "BlogUrl":"http://blogs.architectingconnectedsystems.com/atom",
    "BlogReach":"10000",
    "AwardCategory": "Office365",
    "YouTubeChannel": "https://www.youtube.com/channel/UCG44an1hmidA5wH_RkFXMNA",
    "YouTubeUser": "givenscj",
    "GitHubId":"givenscj",
    "MsdnId": "givenscj",
    "TwitterId": "givenscj",
    "LinkedInId": "givenscj",
    "AmazonUrl": "https://www.amazon.com/Chris-Givens/e/B00I4DMZP8/ref=sr_tc_2_0?qid=1521311912&sr=1-2-ent"
}

